{% load static tailwind_tags %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    This is index
    {% endblock %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
		{% tailwind_css %}

</head>
<body>
    {% block content %}{% endblock  %}
    <h1 class="bg-blue-500 text-3xl">index</h1>
</body>
</html>

use mysql;
CREATE USER 'convox4'@'172.21.22.209' IDENTIFIED WITH
mysql_native_password BY 'ConVox@4';
GRANT ALL ON convoxcces_global.* TO 'convox4'@'172.21.22.209';
GRANT ALL ON convoxcces_lead_mgmt.* TO 'convox4'@'172.21.22.209';
GRANT ALL ON convoxcces_txn_log.* TO 'convox4'@'172.21.22.209';
GRANT ALL ON convoxcces_dnc.* TO 'convox4'@'172.21.22.209';
GRANT ALL ON convoxcces_historical.* TO 'convox4'@'172.21.22.209';
GRANT ALL ON convoxcces_call_limits.* TO 'convox4'@'172.21.22.209';
FLUSH PRIVILEGES;
