{% extends 'layout.html' %}

{% block content %}
  <h1>Create Project</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  <a href="{% url 'project_list' %}">Back to project list</a>


  {% if form.errors %}
    <div class="error">
      <p>There were errors in your form:</p>
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
